<p id="notice"><%= notice %></p>

<h2><%= @person.name %></h2>

<%= render 'phone_numbers/phone_numbers', phone_numbers: @person.phone_numbers %>

<%= render 'email_addresses/email_addresses', email_addresses: @person.email_addresses %>

<%= render 'layouts/footer', contact: @person %>
