<div class="company">
  <p id="notice"><%= notice %></p>

  <h1><%= @company %></h1>

  <%= render 'phone_numbers/phone_numbers', phone_numbers: @company.phone_numbers %>

  <%= render 'email_addresses/email_addresses', email_addresses: @company.email_addresses %>

  <%= render 'layouts/footer', contact: @company %>
</div>
