<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<%= render 'phone_numbers/phone_numbers', phone_numbers: @company.phone_numbers %>

<%= render 'email_addresses/email_addresses', email_addresses: @company.email_addresses %>

<%= render 'layouts/footer', contact: @company %>
