<ul>
  <li>
    <%= link_to 'Add phone number',new_phone_number_path(contact_id: contact.id, contact_type: contact.class) %>
  </li>
  <li>
    <%= link_to 'Add email address',new_email_address_path(contact_id: contact.id, contact_type: contact.class), id: 'new_email_address'%>
  </li>
  <% if contact.class == 'Person' %>
    <li>
      <%= link_to 'Edit', edit_person_path(contact) %>
    </li>
    <li>
      <%= link_to 'Back', people_path %>
    </li>
  <% elsif contact.class == 'Company' %>
    <li>
      <%= link_to 'Edit', edit_company_path(contact) %>
    </li>
    <li>
      <%= link_to 'Back', companies_path %>
    </li>
  <% end %>
</ul>
